* {
    padding: 0;
    margin: 0;
}

.body{
    overflow: hidden;
}

.nav-container {
    display: flex;
    padding: 20px;
    justify-content: space-around;
    background-color: #9b9898;
    color: white;
}

.items {
    display: flex;
    list-style: none;
    gap: 10px;
}

.item {
    font-size: 22px;
    font-weight: bold;
    padding: 10px;
}

.banner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('./asset/image/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.banner-details {
    text-align: center; 
    color: white;
    padding: 20px;
}

.banner-title{
    font-size: 60px;
}

.highlighted-text {
    color: #f52c2c;
}

.description {
    padding: 15px 35px;
    border: none;
    font-size: 18px;
    margin: 5px;
}

.buttons {
    padding: 15px 35px;
    font-size: 16px;
    border: none;
    margin: 5px;
}

.btn-more {
    background-color: #f52c2c;
    padding: 15px 25px;
    color: white;
    font-weight: bold;
    border: none;
    margin-right: 20px;
    border-radius: 5px;
}

.btn-hire {
    background-color: #F0F0F0;
    padding: 15px 25px;
    color: #f52c2c;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    width: 150px;
}
ul {
    list-style: none;
    margin-bottom: 20px;
}

li {
    color: #e0dbdbee;
}

/* author section */
.author-img {
    width: 70px;
    height: 70px;
    border-radius: 50px;
    margin: 10px;
}

.author-button {
    padding: 20px;
    border-left: 1px solid red;
}

.author-details {
    display: flex;    
    align-items: center;
}



.btn {
    border-radius: 24px;
}


/* service section */
.service-container {
    width: 88%;
    height: 89vh;
    background-image: linear-gradient(#000000, #000000de), url('./asset/image/footer-bg.png');
    background-blend-mode: overlay;
    color: white;
    padding: 150px 80px;
    display: flex;
    justify-content: space-around;
}
.service {
    padding: 50px;
    background-color: white;
    box-shadow: 4px 4px 6px gray;
    width: 150px;
    height: 150px;
    text-align: center;
    color: black;
    border-radius: 10px;
    margin: 5px;
}
.service-title {
    margin-top: 20px;
    margin-bottom: 20px;
}

.service-description {
    font-size: 20px;
    width: 50%;
    margin-bottom: 30px;
    color: #e0dbdbee;
}



.div {
    display: flex;
    align-items: center;
    margin-right: 30px;
}
.service-up {
    display: flex;
}

.service-down {
    display: flex;
}

.service-logo {
    width: 30%;
    padding-bottom: 10px;
}

/* appointment section */

.appointment-container{
    display: flex;
    width: 75%;
    background-color: #F52C2C;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: white;
    padding: 40px;
    border-radius: 20px;
    margin: auto;
    margin-top: -60px;
    margin-bottom: 80px;
}


.call-icon{
    width: 100px;

}

.app-description{
    border-left: 2px solid gray;
    height: 80px;

}

/* blog section */

.blog-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

.blog-titles {
    text-align: center;
    margin-bottom: 30px;
}

.blog-title {
    font-size: 34px;
}

.blog-card h3{
    font-size: 24px;
}

.blog-description {
    font-size: 16px;
    color: #666;
}

.blogs {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.blog-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 8px #000000a2; /* Added box shadow */
    overflow: hidden
}

.blog-card img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.blog-content {
    padding: 20px;
}

@media screen and (max-width: 768px) {
    .blogs {
        grid-template-columns: 1fr;
    }
}

/* footer */
.footer {
    background-color: #000000;
    color: #fff;
    padding: 40px 70px;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.footer-section {
    flex: 1;
    min-width: 200px;
    margin-bottom: 20px;
}

.about p {
    font-size: 14px;
}

.footer-section h2 {
    margin-bottom: 15px;
}

.links ul {
    list-style: none;
    padding: 0;
}

.links li {
    margin-bottom: 10px;
}

.links a {
    color: #fff;
    text-decoration: none;
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.text-input {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
}

.contact-btn {
    background-color: #f52c2c;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #777;
}
